/* Импорты шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.russian_lan {
    font-family: Courier;
    font-weight: 535;
    font-size: 1.2em;
}
 
/* Стили на всю страницу -- body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', Courier;
    background: linear-gradient(90deg, #331be6ec 0%, #7cf69f 100%, #91ff83 100%);
}

a {
    text-decoration: none;
    color:white;
}

/* page_atw */
.page_atw {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

/* Шрифты - размеры и т.п. */
.paragrath_my_project {
    font-size: 2rem;
    font-weight: bold;
}

.russian_lan_top_first_par_my_projects {
    font-family: Courier;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 50px;
}

/* редакция основного текста на странице - en + ru */
@media (max-width: 410px) {
    .russian_lan_top_first_par_my_projects {
        font-size: 1.9rem
    }
    .russian_lan {
        font-size: 1rem
    }
    .paragrath_my_project {
        font-size: 2rem;
    }
    .english_p {
        font-size: 0.85rem;
    }
}

@media (max-width: 340px) {
    .russian_lan_top_first_par_my_projects {
        font-size: 1.75rem
    }
    .russian_lan {
        font-size: 1rem
    }
    .paragrath_my_project {
        font-size: 1.85rem;
    }
    .english_p {
        font-size: 0.8rem;
    }
}

@media (max-width: 352px) {
    .russian_lan_top_first_par_my_projects {
        font-size: 1.75rem
    }
    .russian_lan {
        font-size: 0.8rem
    }
    .paragrath_my_project {
        font-size: 1.85rem;
    }
    .english_p {
        font-size: 0.7rem;
    }
}

@media (max-width: 295px) {
    .russian_lan_top_first_par_my_projects {
        font-size: 1.5rem
    }
    .russian_lan {
        font-size: 0.6rem
    }
    .paragrath_my_project {
        font-size: 1.5rem;
    }
    .english_p {
        font-size: 0.5rem;
    }
}

/* конец ред. основной страницы - текст - en + ru */


/* Настройки footer'а */
.footer_page_atw {
    text-align: center;
}
.footer_border1 {
    border-top-style: solid;
    border-width: 1.5px;
    margin: 10px;
    padding: 0;
    padding-bottom: 10px;
}

/* Навигационная панель -- для ПК и устр. с более чем 750px - экраном */
.navbar {
    width: 100%;
    position:fixed;
    display: flex;
    /* position:relative; */
    background: linear-gradient(90deg, #000000 0%, #585858 100%);
    /* background-color: rgb(31, 31, 31); */
    justify-content: space-between;
}

.nav-list {
    display: flex;
}

.nav-list a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

.nav-list a:hover { 
    background-color: rgb(223, 30, 30);
}

.nav-btn {
    display: none;
}

.nav-img-atw {
    width: 45px;
    margin-left: 10px;
    margin-top: 2.5px;
}

/* Навигационная панель -- для устр. с мнее чем 750px экраном */

@media (max-width: 790px) {
    .nav-btn {
        font-size: 2.1em;
        padding-inline: 15px;
        padding-bottom: 7px;
        border: none;
        background: linear-gradient(90deg, #656563 100%, #000000 0%);
        /* background-color: rgb(31, 31, 31); */
        color: white;
        display: block;
        cursor: pointer;
    }

    .nav-list {
        display: none;
    }

    .nav-btn:hover {
        background-color: rgb(223, 30, 30);
    }

    .drop:hover .nav-list {
        display: block;
        position: absolute;       
        right: 0.1px;
        background: linear-gradient(90deg, #000000 0%, #585858 100%);
        /* background-color: rgb(31, 31, 31); */
    }

    .navbar {
        justify-content: space-between;
    }

}

/* Главный блок -- сама страница */

.main_border {
    border-bottom-style: solid;
    border-width: 1.5px;
    margin: 10px;
    padding: 0;
    padding-bottom: 10px;
}

/* Левая навигационная панель */
.title p {
    font-family: Orbitron;
    font-size: 30px;
    margin-bottom: 50px;
}

span {
    color: white;
}

.list_menu a {
    font-family: Orbitron;
    font-size: 20px;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: aquamarine;
    padding-left: 5px;
    transition: all 0.2s ease;
}

.list_menu {
    margin-bottom: 50px;
}

.list_menu ul {
    list-style: none;
}

.list_menu li {
    margin: 25px 0;
}

.list_menu a:hover {
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: aquamarine;
    padding-left: 13px;

    transition: all 0.2s ease;

}

.menu {
    margin-top: 2px;
    position: fixed;
    padding: 1vh 25px;
    background-color: rgb(120, 113, 113, 0.5);
    backdrop-filter: blur(16px);
    border-right-style: solid;
    border-right-width: 7px;
    border-right-color: rgb(255, 255, 255);
    /* left: -281px; */
    left: -265px;
    transition: all 0.2s ease;
    /* overflow: scroll; */
    overflow-x: hidden;
    max-height: 100%;
}

.menu:hover {
    left: 0;
    transition: all 0.2s ease;
}

@media (max-height: 900px) {
    .menu {
        /* overflow: scroll; */
        max-height: 750px;
        left: -282.5px;
    }
}

@media (max-height: 770px) {
    .menu {
        /* overflow: scroll; */
        max-height: 550px;
        left: -282.5px;
    }
}

@media (max-height: 570px) {
    .menu {
        /* overflow: scroll; */
        max-height: 250px;
        left: -282.5px;
    }
}

@media (max-height: 270px) {
    .menu {
        /* overflow: scroll; */
        max-height: 100px;
        left: -282.5px;
    }
}

/* Главная страница */
.main_page {
    margin-left: 1rem; /* 25px */
}

.start_resh_tw_telegram_en {
    width: 350px;
    display: block;
    float: left;
    margin: 15px;
}

/* фото работы бота - start */
.images_telegram_bot_reshator_twi img {
    /* display: flex; */
    margin: 15px;
    width: 350px;
}

.images_telegram_bot_twiT_yel_vpn img {
    /* display: flex; */
    margin: 15px;
    width: 350px;
}
/* фото работы бота - end */

@media (max-width: 580px) {
    .start_resh_tw_telegram_en {
        display: inline-block;
        width: 250px;
    }
}

@media (max-width: 450px) {
    .start_resh_tw_telegram_en {
        display: block;
        width: 175px;
        float: right;
    }
}

@media (max-width: 400px) {
    .start_resh_tw_telegram_en {
        display: none;
    }
}

/* Работа с экранами - фото примеров работы бота -start */
@media (max-width: 1000px) {
    .images_telegram_bot_reshator_twi img{
        display: inline-block;
        width: 300px;
    }
}

@media (max-width: 710px) {
    .images_telegram_bot_reshator_twi img{
        display: inline-block;
        width: 250px;
    }
}

@media (max-width: 610px) {
    .images_telegram_bot_reshator_twi img{
        display: inline-block;
        width: 235px;
    }
}

@media (max-width: 580px) {
    .images_telegram_bot_reshator_twi img{
        display: inline-block;
        width: 205px;
    }
}

@media (max-width: 516px) {
    .images_telegram_bot_reshator_twi img{
        display: inline-block;
        width: 170px;
    }
}

@media (max-width: 440px) {
    .images_telegram_bot_reshator_twi img{
        display: inline-block;
        width: 150px;
    }
}

@media (max-width: 408px) {
    .images_telegram_bot_reshator_twi img{
        display: inline-block;
        width: 125px;
    }
}

@media (max-width: 360px) {
    .images_telegram_bot_reshator_twi img{
        display: inline-block;
        width: 110px;
    }
}

@media (max-width: 305px) {
    .images_telegram_bot_reshator_twi img{
        display: inline-block;
        width: 175px;
    }
}
/* Работа с экранами - фото примеров работы бота -end */

/* Работа с экранами - фото примеров работы бота -start (twityelvpnbot) */
@media (max-width: 1000px) {
    .images_telegram_bot_twiT_yel_vpn img{
        display: inline-block;
        width: 300px;
    }
}

@media (max-width: 710px) {
    .images_telegram_bot_twiT_yel_vpn img{
        display: inline-block;
        width: 250px;
    }
}

@media (max-width: 610px) {
    .images_telegram_bot_twiT_yel_vpn img{
        display: inline-block;
        width: 235px;
    }
}

@media (max-width: 580px) {
    .images_telegram_bot_twiT_yel_vpn img{
        display: inline-block;
        width: 205px;
    }
}

@media (max-width: 516px) {
    .images_telegram_bot_twiT_yel_vpn img{
        display: inline-block;
        width: 170px;
    }
}

@media (max-width: 440px) {
    .images_telegram_bot_twiT_yel_vpn img{
        display: inline-block;
        width: 150px;
    }
}

@media (max-width: 408px) {
    .images_telegram_bot_twiT_yel_vpn img{
        display: inline-block;
        width: 125px;
    }
}

@media (max-width: 360px) {
    .images_telegram_bot_twiT_yel_vpn img{
        display: inline-block;
        width: 110px;
    }
}

@media (max-width: 305px) {
    .images_telegram_bot_twiT_yel_vpn img{
        display: inline-block;
        width: 175px;
    }
}
/* Работа с экранами - фото примеров работы бота -end (twityelvpnbot) */